.banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(restaurant.jpg);
    background-size: cover;
    background-position: center;
}

.icon-service{
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #ffff;
}

.background-service{
    height: auto;
    background: purple;
}